

.wrapper {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows:  201px 200px; 
}



.movieWheel { 
  background-color:rgb(38, 0, 255);
  
}
  

 .description {
  background-color:rgb(0, 255, 213);
  
}

.details {
  background-color: purple;
 
}







 

