



#app, body {
  background-color:#0f171e;
}

.wrapper {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows:  201px 25px 200px; 
}


.header {
  font-family: "Amazon Ember Regular",Arial,sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}


.movieWheel { 
  background-color:#0f171e;
  grid-column: 1/4;
  border: white solid 1px;
  color:white;

  flex-basis:80%;
  display: flex;
  flex-wrap: wrap;
  margin:0;
  /* padding: 20px;  */
  overflow-x: scroll;
}

.eachMovie {
  flex-basis: 22%;
  box-sizing: border-box;
  margin: 1.5%;


  display: flex;
  flex-direction: column;
  list-style: none;

  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0 10px 28px -7px rgba(0,0,0,0.1);
}
  

 .description {
  background-color:#0f171e;
  grid-column: 2/4;
  border: white solid 1px;
  color: white;
}

.moreDetails {
  background-color: #0f171e;
  border: white solid 1px;
  font-family: "Amazon Ember Regular",Arial,sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  grid-column: 1/4;
} 

.details {
  background-color: #0f171e;
  border: white solid 1px;
  color: #fff;
}








 

